.linha-divisoria    {
  background-image: linear-gradient(90deg, #4bb8af, #37857e);
  width: 100%;
  height: 3px;
}

.input-group .input-group-text  {
  font-size: 25px;
  color: gray;
  border-radius: 0 6px 6px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
    width: 30px; 
    height: auto;
    padding-bottom: 3px;
}

input:focus::placeholder {
  font-weight: 500; 
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #ced4da;
}

.btn-custom {
    background-color: #4bb885; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 10px; 
    font-size: 18px; 
    font-weight: 700;
    cursor: pointer; 
    transition: background-color 0.5s ease, box-shadow 0.3s ease, transform 0.2s ease;
}

.btn-custom:hover {
    background-color: #3d966c;
    transform: scale(1.01);
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.3);
    color: white;
}