body {
    min-height: 100dvh;
    background-image: url('/static/fotos_gerais/fundo_login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.min-w-300  {
    min-width: 300px;
}

.max-w-600  {
    max-width: 600px;
}

.input-group .form-control {
  border-right: none;
  border-radius: 6px 0 0 6px;
  padding-left: 20px;
}
  