*   {
            font-family: 'Quicksand', sans-serif;
        }

.content-table  {

    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #d1e7dd;
    color: #212529;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td   {
    padding: 12px 15px;
}

.content-table tbody tr   {
    border-bottom: 1px solid #535353;
}

.content-table tbody tr:nth-of-type(even)   {
    background-color: #eef4f1;
}

.content-table tbody tr:nth-of-type(odd)   {
    background-color: #ececf5;
}

.content-table tbody tr:last-of-type    {
    border-bottom: 2px solid #149660;
}

.btn-editar {
background-color: #346eeb;
color: white;
border: none;
font-weight: bold;
padding: 8px 16px;
border-radius: 5px;
}

.btn-editar:hover {
    background-color: #2a54af;
}

.btn-excluir {
background-color: #e6372d;
color: #e9e4e9;
font-weight: bold;
border: none;
padding: 8px 16px;
border-radius: 5px;
}

.btn-excluir:hover {
    background-color: #a71d2a;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}



