body {
    background-image: url('/static/fotos_gerais/fundo_home.jpg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 100dvh; 
}

.input-group .form-control {
    border-right: px solid #ccc; 
    border-radius: 6px; 
    padding-left: 20px;
}

.drop-zone.dragover {
    background-color: #e3f2fd !important;
}

.drop-zone {
    background-color: #e0e3e6; 
    color: #495057; 
    width: 100%; 
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.192);
    cursor: pointer !important;
    transition: background-color 0.3s !important;
    border-radius: 0 0 10px 10px !important;
}

.form-label {
    background-color: #747474;
    color: #ffffff; 
    padding: 8px 12px; 
    display: block; 
    width: 100%; 
    text-align: center; 
    border-radius: 10px 10px 0 0; 
    margin-bottom: 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    width: 100%; 
}

#file-name, #file-name2, #file-name3, #file-name4 {
    font-weight: bold;
    color: #343a40;
    text-align: center;
    margin-top: 5px;
}

.upload-container:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease-in-out;
}

.file-box {
    background-color: #f8f9fa; 
    border: 1px solid #ced4da; 
    border-radius: 5px; 
    padding: 10px 10px; 
    display: flex; 
    align-items: center;
    gap: 8px; 
    font-weight: bold; 
    color: #495057; 
    width: 100%; 
    max-width: 215px; 
    white-space: nowrap; 
    overflow: hidden;
}

.file-name {
    flex-grow: 1;
    overflow: hidden; 
    text-overflow: ellipsis; 
}
