{% extends 'base.html' %}

{% block head %}
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
{% endblock %}

{% block body %}
<body>
<div class="container d-flex justify-content-center align-items-center mt-4">
    <div class="w-100 p-4 shadow bg-light" style="border-radius: 35px"> 
        
        <div class="d-flex align-items-center justify-content-center gap-4 pb-3">
            <img src="{{ url_for('static', filename='fotos_gerais/favicon.png') }}" alt="Logo" class="logo">
            <h1>CADASTRO DE PACIENTE</h1>
        </div>
        <div class="mb-3 linha-divisoria"></div>

        <form method="POST" action="" enctype="multipart/form-data">
            {{ form_cadastro_paciente.csrf_token }}

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {% if form_cadastro_paciente.nome_completo.errors %}
                            {{ form_cadastro_paciente.nome_completo(class="form-control is-invalid") }}
                            <div class="invalid-feedback mb-4">
                                {% for erro in form_cadastro_paciente.nome_completo.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="input-group mt-4">
                                {{ form_cadastro_paciente.nome_completo(class="form-control", placeholder='Nome Completo do Paciente') }}
                            </div>
                        {% endif %}
                    </div>
                </div> 

                <div class="col-md-6">
                    <div class="form-group">
                        {% if form_cadastro_paciente.data_nascimento.errors %}
                            {{ form_cadastro_paciente.data_nascimento(class="form-control is-invalid") }}
                            <div class="invalid-feedback mb-4">
                                {% for erro in form_cadastro_paciente.data_nascimento.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="input-group mb-4 mt-4">
                                {{ form_cadastro_paciente.data_nascimento(class="form-control") }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div> 

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {% if form_cadastro_paciente.genero.errors %}
                            {{ form_cadastro_paciente.genero(class="form-control is-invalid") }}
                            <div class="invalid-feedback mb-4">
                                {% for erro in form_cadastro_paciente.genero.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="input-group mb-4">
                                {{ form_cadastro_paciente.genero(class="form-control") }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        {% if form_cadastro_paciente.telefone.errors %}
                            {{ form_cadastro_paciente.telefone(class="form-control is-invalid") }}
                            <div class="invalid-feedback mb-4">
                                {% for erro in form_cadastro_paciente.telefone.errors %}
                                    {{ erro }}
                                 {% endfor %}
                            </div>
                        {% else %}
                            <div class="input-group mb-4">
                                {{ form_cadastro_paciente.telefone(class="form-control", placeholder="Telefone DDD + número") }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        {% if form_cadastro_paciente.email.errors %}
                            {{ form_cadastro_paciente.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback mb-4">
                                {% for erro in form_cadastro_paciente.email.errors %}
                                    {{ erro }}
                                 {% endfor %}
                            </div>
                        {% else %}
                            <div class="input-group mb-4">
                                {{ form_cadastro_paciente.email(class="form-control", placeholder="E-mail") }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        {% if form_cadastro_paciente.endereco.errors %}
                            {{ form_cadastro_paciente.endereco(class="form-control is-invalid") }}
                            <div class="invalid-feedback mb-4">
                                {% for erro in form_cadastro_paciente.endereco.errors %}
                                    {{ erro }}
                                 {% endfor %}
                            </div>
                        {% else %}
                            <div class="input-group mb-4">
                                {{ form_cadastro_paciente.endereco(class="form-control", placeholder="Endereco") }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        {% if form_cadastro_paciente.cpf.errors %}
                            {{ form_cadastro_paciente.cpf(class="form-control is-invalid") }}
                            <div class="invalid-feedback mb-4">
                                {% for erro in form_cadastro_paciente.cpf.errors %}
                                    {{ erro }}
                                 {% endfor %}
                            </div>
                        {% else %}
                            <div class="input-group mb-4">
                                {{ form_cadastro_paciente.cpf(class="form-control", placeholder="CPF (Sem Digitos)") }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        {% if form_cadastro_paciente.rg.errors %}
                            {{ form_cadastro_paciente.rg(class="form-control is-invalid") }}
                            <div class="invalid-feedback mb-4">
                                {% for erro in form_cadastro_paciente.rg.errors %}
                                    {{ erro }}
                                 {% endfor %}
                            </div>
                        {% else %}
                            <div class="input-group mb-4">
                                {{ form_cadastro_paciente.rg(class="form-control", placeholder="RG (Sem Digitos)") }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            
                <div class="row mt-4 mb-4">
                    
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group mb-3">
                            <div class="upload-container">
                                <label for="file-upload" class="form-label fw-bold">Avaliação Médica</label>
                                <div class="border rounded text-center p-4 drop-zone">
                                    <p class="mb-1">Arraste e solte o arquivo aqui</p>
                                    <p class="mb-1">ou</p>
                                    <p>Clique para selecionar</p>
                                    {{ form_cadastro_paciente.avaliacao_medica(class="form-control d-none", id="file-upload") }}
                                </div>
                                <span id="file-name" class="text-muted mt-2 d-block"></span>
                                    {% if form_cadastro_paciente.avaliacao_medica.data %}
                                        {{ form_cadastro_paciente.avaliacao_medica }}
                                    {% endif %}
                                    {% if form_cadastro_paciente.avaliacao_medica.errors %}
                                        {% for erro in form_cadastro_paciente.avaliacao_medica.errors %}
                                           <span class="text-danger">{{ erro }}</span><br>
                                        {% endfor %}
                                    {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group mb-3">
                            <div class="upload-container">
                                <label for="file-upload2" class="form-label fw-bold">Evolução Clínica</label>
                                <div class="border rounded text-center p-4 drop-zone">
                                    <p class="mb-1">Arraste e solte o arquivo aqui</p>
                                    <p class="mb-1">ou</p>
                                    <p>Clique para selecionar</p>
                                    {{ form_cadastro_paciente.evolucao_clinica(class="form-control d-none", id="file-upload2") }}
                                </div>
                                <span id="file-name2" class="text-muted mt-2 d-block"></span>
                                    {% if form_cadastro_paciente.evolucao_clinica.data %}
                                        {{ form_cadastro_paciente.evolucao_clinica }}
                                    {% endif %}
                                    {% if form_cadastro_paciente.evolucao_clinica.errors %}
                                        {% for erro in form_cadastro_paciente.evolucao_clinica.errors %}
                                           <span class="text-danger">{{ erro }}</span><br>
                                        {% endfor %}
                                    {% endif %}
                            </div>
                        </div>
                    </div>
 
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group mb-3">
                            <div class="upload-container">
                            <label for="file-upload3" class="form-label fw-bold">Exames</label>
                            <div class="border rounded text-center p-4 drop-zone">
                                <p class="mb-1">Arraste e solte o arquivo aqui</p>
                                <p class="mb-1">ou</p>
                                <p>Clique para selecionar</p>
                                {{ form_cadastro_paciente.exames(class="form-control d-none", id="file-upload3") }}
                            </div>
                            <span id="file-name3" class="text-muted mt-2 d-block"></span>
                                {% if form_cadastro_paciente.exames.data %}
                                    {{ form_cadastro_paciente.exames }}
                                {% endif %}
                                {% if form_cadastro_paciente.exames.errors %}
                                    {% for erro in form_cadastro_paciente.exames.errors %}
                                       <span class="text-danger">{{ erro }}</span><br>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group mb-3">
                            <div class="upload-container">
                            <label for="file-upload4" class="form-label fw-bold">Documentos Pessoais</label>
                            <div class="border rounded text-center p-4 drop-zone">
                                <p class="mb-1">Arraste e solte o arquivo aqui</p>
                                <p class="mb-1">ou</p>
                                <p>Clique para selecionar</p>
                                {{ form_cadastro_paciente.documentos_pessoais(class="form-control d-none", id="file-upload4") }}
                            </div>
                            <span id="file-name4" class="text-muted mt-2 d-block"></span>
                                {% if form_cadastro_paciente.documentos_pessoais.data %}
                                    {{ form_cadastro_paciente.documentos_pessoais }}
                                {% endif %}
                                {% if form_cadastro_paciente.documentos_pessoais.errors %}
                                    {% for erro in form_cadastro_paciente.documentos_pessoais.errors %}
                                       <span class="text-danger">{{ erro }}</span><br>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            <div class="text-center d-flex gap-2">
                {{ form_cadastro_paciente.botao_cadastrar_paciente(class="btn btn-custom w-100") }}
            </div>


        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".drop-zone").forEach(function (dropZone) {
        let fileInput = dropZone.querySelector("input[type='file']");
        let fileNameDisplay = dropZone.nextElementSibling; 

        dropZone.addEventListener("dragover", function (event) {
            event.preventDefault();
            dropZone.classList.add("dragover");
        });

        dropZone.addEventListener("dragleave", function () {
            dropZone.classList.remove("dragover");
        });

        dropZone.addEventListener("drop", function (event) {
            event.preventDefault();
            dropZone.classList.remove("dragover");

            let file = event.dataTransfer.files[0];
            if (file) {
                fileInput.files = event.dataTransfer.files;
                fileNameDisplay.textContent = file.name; 
            }
        });

        fileInput.addEventListener("change", function () {
            if (fileInput.files.length > 0) {
                fileNameDisplay.textContent = fileInput.files[0].name;
            }
        });

        dropZone.addEventListener("click", function () {
            fileInput.click();
        });
    });
});


</script>

</body>
{% endblock %}
